<div class="panel panel-default">
  <div class="panel-body">
    <form name="loginForm" novalidate angular-validator angular-validator-submit="processLogin()">
      <div class="form-group">
          <label for="email">Email address</label>
          <input type="email"
                 required
                 validate-on="dirty"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="Email"
                 ng-model="email">
        </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               required
               validate-on="dirty"
               class="form-control"
               id="password"
               name=password"
               placeholder="Password"
               ng-model="password">
      </div>
      <button type="submit" class="btn btn-default" name="submit" >Submit</button>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Valid credentials</h3>
    <ul>
      <li>john@doe.com</li>
      <li>opensesame</li>
      <li>jane@doe.com</li>
      <li>opensesame</li>
      <li>bob@projects.com</li>
      <li>opensesame</li>
    </ul>
  </div>
</div>
